.content{
    background: url("./../img/bg.png") no-repeat top center scroll;
    background-size: cover;
    margin-top: 100px; /* Высота шапки /
    padding-top: 150px; / Высота шапки */
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
